# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules
/.pnp
/client/.pnp
.pnp.js
/client/.pnp.js
/client/.git

# testing
/coverage

# production
/client/build

# data
/client/src/data

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
