<script>

</script>
<section class="features14 cid-rdGSvMnXrN" id="features14-j">
  <div class="container align-center">
    <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
      {{title}}
    </h2>
    <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5">
      {{okMessage}}, Console
    </h3>
    <div class="media-container-column">
      <div class="row justify-content-center">
        admin content;
        {{username}}: you are here.
      </div>
      <div class="media-container-row image-row">
        <div class="mbr-figure" style="">
          <img src="" alt="WestApps" />
        </div>
      </div>
    </div>
  </div>
</section>
