
<div class="container align-center">
  <h1>{{title}}</h1>
  <div class="alert alert-danger" role="alert">
    {{message}}
  </div>
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>  
</div>
