<script>
  function getDateTime(){
    let today = new Date();
    let date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
    let time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    let dateTime = date+' '+time;
    return dateTime;
  }

  function submitLogin() {
    var dateTime = getDateTime();
    // console.log(dateTime);
    document.getElementById("dateTime").value = dateTime;
    var frm = document.getElementById("loginForm");
    frm.submit();
    frm.reset();
    return false;
  }
</script>
<section class="mbr-section form1 cid-rdGXhy5QzL" id="form1-m">
  <div class="container">
    <div class="row justify-content-center">
      <div class="title col-12 col-lg-8">
        <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
          {{loginForm}}
        </h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="media-container-column col-lg-8">
        <div data-form-alert="">
          <h5 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-6">
          </h5>
          <ul style="color:red">
            {{#each errors}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
        <form id="loginForm" class="mbr-form" method="POST" action="/users/login" >
          <div class="form-group">
            <label class="form-control-label mbr-fonts-style display-7">Email</label>
            <input
              type="email"
              name="email"
              class="form-control"
              value="{{email}}"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label mbr-fonts-style display-7">Password (min length: 6)</label>
            <input
              type="password"
              name="password"
              class="form-control"
              value=""
            />
            <input type="hidden" id="dateTime" name="time" value="" />
          </div>
          <span class="input-group-btn">
            <button
              type="button"
              onclick="submitLogin()"
              class="btn btn-primary btn-form display-4"
            >
              Login
            </button>
          </span>
        </form>
      </div>
    </div>
  </div>
</section>
