<style>
table {
  table-layout: fixed;
}

ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}
</style>
<!-- // to do :
// console page, write/read full screen intro to mongodb, add logout button
// in react component, read screen intro from mongodb, CRUD
// user priveledge management , active: true/false, role: user/admin ; how to do role management?
// debug methods on back end express/node
// unit test , integration test
// make real content, publish online by using https -->
<div class="">
  <div class="container align-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
      <a class="navbar-brand" href="#">{{title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" > {{username}} </a>
          <a class="nav-item nav-link" > {{email}} </a>
          <a class="nav-item nav-link" href="/admin/logout">logout</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="container align-center">
    <div class="container">
      <div class="row">
        <div class="col">Navbar</div>
        <div class="col">Full screen intro</div>
        <div class="col">col</div>
        <div class="col">col</div>
      </div>
      <div class="row">
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col">col</div>
      </div>
    </div>
  </div>
  <div class="container align-center">
    <form class="mbr-form" action="/navbaritems" method="POST" autocomplete="off">
      <label class="form-control-label mbr-fonts-style display-7">Nav Subitem</label>
      <input type="button" value="Add" class="list_add">
      <table id="list_nav_subitem" class="table">
        <thead>
          <tr><th>Name</th><th>Mail</th><th></th></tr>
        </thead>
        <tbody>
          <tr class="list_var">
            <td><input type="text" name="list-name_0"></td>
            <td><input type="text" name="list-mail_0"></td>
            <td class="del-area"><button class="list_del">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.add-input-area@4.11.0/dist/jquery.add-input-area.min.js"></script>
<script>
  $(function() {
    $('#list_nav_subitem').addInputArea({
      area_del: '.del-area'
    });
  });
</script>
